:root {
    --main-orange: #ffb23a;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    all: unset;
}

@media (prefers-color-scheme: white) {
    html {
        color-scheme: white;
    }
    body {
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
    }
}